<config>  <Root_Directory>../</Root_Directory>  <BC_Directory>    <BC6A_Directory>BC6A/</BC6A_Directory>    <BC7_Directory>BC7/</BC7_Directory>    <BC9_Directory>BC9/</BC9_Directory>  </BC_Directory>  <Scenario_Directory>scenario/</Scenario_Directory>  <Init_Directory>init/</Init_Directory>  <Utils_Directory>utils/</Utils_Directory>  <RCCM_Directory>RCCM/</RCCM_Directory>  <SFQT_Directory>SFQT/</SFQT_Directory>    <BC_default>    <BC_default_TUT>BC6A</BC_default_TUT>    <BC_default_TT1>BC6A</BC_default_TT1>    <BC_default_TT2>BC6A</BC_default_TT2>  </BC_default> </config>